TELEGRAM_BOT_TOKEN="123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ"
TELEGRAM_CHAT_ID="123456789"
SURICATA_WEBHOOK_SECRET="your_custom_webhook_secret_here"
NUC_BRIDGE_WEBHOOK_SECRET="your_custom_bridge_secret_here"

MIKROTIK_HOST="172.18.141.1"
MIKROTIK_USER="admin"
MIKROTIK_PASS="your_mikrotik_password"
BLOCK_TIMEOUT="01:00:00"
IPV6_POOL_NAME="IPv6 - ISP Delegation"

EVE_LOG_PATH="/var/log/suricata/eve.json"
THRESHOLD_CONF_PATH="/etc/suricata/threshold.config"
WHITELIST_CONF_PATH="/etc/suricata/whitelist.config"
WEB_PORT=8888
DASHBOARD_URL="https://suricata.example.com/"
